@import "../../../assets/styles/app";

.unstakeModal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(1, 43, 38, 0.2);
  backdrop-filter: blur(5px);
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  //overflow: auto;
  padding: 16px 0;

  .card {
    position: relative;
    border-radius: 16px;
    background: $color_light;
    padding: 16px;
    width: calc(100vw - 32px);
    max-width: 488px;
    //max-height: calc(100vh - 32px);
    display: flex;
    flex-direction: column;


    @include desktop {
      width: 488px;
    }

    .closeBtn {
      position: absolute;
      top: 16px;
      right: 16px;
      @include button;
      @include centerRow;
      border-radius: 10px;
      width: 40px;
      height: 40px;
      box-shadow: 0 8px 10px 0 rgba(28, 54, 36, 0.04), inset 0 4px 6px 0 rgba(248, 255, 251, 0.2);
      background: linear-gradient(180deg, #e4ffea 0%, #b3f9e5 100%);
      border: 1px solid #AAEDD9;
    }

    .title {
      margin-top: 8px;
      font-weight: 500;
      font-size: 24px;
      line-height: 140%;
    }

    .description {
      margin-top: 16px;
      font-size: 14px;
      line-height: 140%;
      color: $color_dark-500;

      &_bottom {
        margin-top: 24px;
      }
    }

    .items {
      margin-top: 24px;

      .item {
        display: flex;

        &:not(:first-child) {
          margin-top: 16px;
        }

        & > div:nth-child(1) {
          flex-shrink: 0;
          @include centerRow;
          background: $color_dark-40;
          border-radius: 50px;
          width: 40px;
          height: 40px;
        }

        & > div:nth-child(2) {
          margin-left: 8px;

          p:nth-child(1) {
            font-size: 14px;
            line-height: 140%;
          }

          p:nth-child(2) {
            margin-top: 4px;
            font-size: 16px;
            line-height: 140%;
            color: $color_dark-500;
          }
        }
      }
    }

    .buttons {
      margin-top: 24px;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 8px;

      @include desktop {
        grid-template-rows: unset;
        grid-row-gap: unset;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 8px;
      }

      .button {
        @include button;

        .button_inner {
          width: 100%;
          padding: 13px 0;
        }
      }


    }
  }
}