@import "../../assets/styles/app";

.stats {
  @include container;
  position: relative;
  width: 100%;
  padding-top: 24px + 72px;
  padding-bottom: 24px;

  .inner {
    @include inner;

    .top {

      h2.title {
        @include h2;
      }

      @include desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .content {
      margin-top: 24px;

      .content_top {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 16px;

        @include desktop {
          grid-template-rows: unset;
          grid-row-gap: unset;
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 16px;
        }
      }

      .content_bottom {
        margin-top: 16px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 16px;

        @include desktop {
          grid-template-rows: unset;
          grid-row-gap: unset;
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 16px;
        }
      }
    }
  }
}

.tooltipContent {
  p:nth-child(1) {
    font-weight: 400!important;
    font-size: 14px!important;
    line-height: 140%!important;
    color: $color_light!important;
  }

  p:nth-child(2) {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $color_light-500;
  }
}