@import "../../../assets/styles/app";

.safetyTips {
  margin-top: 32px;

  @include desktop {
    margin-top: 48px;
  }

  h3.title {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;

    @include desktop {
      font-size: 24px;
    }
  }

  .card {
    margin-top: 16px;
    border-radius: 16px;
    background: $color_light;
    padding: 16px;

    @include desktop {
      margin-top: 24px;
      width: 664px;
    }

    .cardTitle {
      font-size: 14px;
      line-height: 140%;
    }

    .tip {
      position: relative;
      margin-top: 16px;
      padding-left: 24px;
      font-size: 14px;
      line-height: 140%;
      color: $color_dark-500;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $color_dark-500;
        left: 6px;
        top: 8px;
      }
    }

  }


}