@import "../../../assets/styles/app";

.colors {

  @include desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
  }

  .top {
    background: radial-gradient(194.48% 141.42% at 0% 100%, #f3fce7 6.71%, #aff9e5 100%);
    padding: 0 24px;

    @include desktop {
      padding-left: calc(0.5 * (100vw - 1344px));
      padding-right: 36px;
    }

    .top_inner {
      height: 100%;
      position: relative;
      padding-top: 32px;
      padding-bottom: 24px;

      @include desktop {
        padding-top: 64px;
        padding-bottom: 64px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .title {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;

        @include desktop {
          font-size: 48px;
        }
      }

      svg {
        display: block;
        width: 230px;
        height: 145px;
        margin-top: 152px;
        margin-left: auto;
        margin-right: auto;

        @include desktop {
          width: 418px;
          height: 264px;
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .info {
        margin-top: 152px;

        @include desktop {
          margin-top: 0;

        }

        .infoLabel {
          font-size: 16px;
          line-height: 140%;
          color: $color_dark-500;
        }

        .items {
          margin-top: 24px;

          @include desktop {
            margin-top: 48px;
          }

          .item {

            &:not(:first-child) {
              margin-top: 24px;

              @include desktop {
                margin-top: 32px;
              }
            }

            @include desktop {
              display: flex;
              justify-content: space-between;
            }

            .color {
              font-size: 16px;
              line-height: 140%;
            }

            .values {
              margin-top: 8px;
              display: grid;
              grid-template-columns: repeat(3, 1fr);

              @include desktop {
                margin-top: 0;
                width: 318px;
              }

              & > div {

                p {
                  font-size: 16px;
                  line-height: 140%;
                  color: $color_dark-500;

                  &:not(:first-child) {
                    margin-top: 4px;
                  }
                }
              }

            }


          }
        }

      }
    }
  }


  .bottom {

    @include desktop {
      display: grid;
      grid-template-rows: 1fr 1fr 2fr;
    }

    .item {
      padding: 24px;

      @include desktop {
        display: flex;
        justify-content: space-between;
        padding-top: 64px;
        padding-left: 32px;
        padding-bottom: 64px;
        padding-right: calc(0.5 * (100vw - 1344px));
      }

      .color {
        font-size: 16px;
        line-height: 140%;
      }

      .values {
        margin-top: 8px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @include desktop {
          margin-top: 0;
          width: 318px;
        }

        & > div {

          p {
            font-size: 16px;
            line-height: 140%;
            color: $color_dark-500;

            &:not(:first-child) {
              margin-top: 4px;
            }
          }
        }

      }

      &:nth-child(1) {
        background: $color_light;
      }

      &:nth-child(2) {
        background: #aff9e5;
      }

      &:nth-child(3) {
        background: $color_dark-1000;
        padding-bottom: 276px;

        .color {
          color: $color_light;
        }

        .values div p {
          color: $color_light-500;
        }

      }




    }

  }
}