@import "../../assets/styles/app";

.tradersPage {
  position: relative;
  width: 100%;
  @include container;
  padding-bottom: 24px;

  @include desktop {
    padding-bottom: 40px;
  }

  .waterAnimation {
    position: absolute;
    z-index: 1;
    top: calc(96px + 0.5 * Min(calc(100vw - 32px), calc(100vh - (72px + 94px + 16px + 230px + 24px))));
    left: 50%;
    transform: translate(-50%, -50%);
    width: Min(calc(100vw - 32px), calc(100vh - (72px + 94px + 16px + 230px + 24px)));
    height: Min(calc(100vw - 32px), calc(100vh - (72px + 94px + 16px + 230px + 24px)));

    @include desktop {
      width: 640px;
      height: 640px;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .inner {
    @include inner;
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }

    .top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .label {
        display: flex;
        align-items: center;
        border: 1px solid $color_dark-1000;
        border-radius: 999px;
        padding: 8px 16px;

        p {
          font-size: 14px;
          line-height: 140%;
        }

        svg {
          margin: 0 8px;
        }
      }

      h2.title {
        margin-top: 8px;
        font-size: 40px;
        line-height: 120%;

        @include desktop {
          font-size: 72px;
          width: 891px;
        }

        span {
          font-style: italic;
        }
      }

      .description {
        margin-top: 16px;
        font-size: 14px;
        line-height: 140%;

        @include desktop {
          width: 324px;
        }
      }
    }

    .bottom {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;

      @include desktop {
        margin-top: 0;
        width: 292px;
      }

      .item {

        & > div {
          display: flex;
          align-items: center;

          & > div {
            @include centerRow;
            background: $color_dark-40;
            border-radius: 50%;
            width: 40px;
            height: 40px;
          }

          & > p {
            margin-left: 8px;
            font-size: 14px;
            line-height: 140%;
            color: $color_dark-500;
          }
        }

        & > p {
          margin-top: 16px;
          font-weight: 500;
          font-size: 18px;
          line-height: 140%;

          @include desktop {
            font-size: 24px;
          }
        }

      }
    }

  }
}