@import "../../../assets/styles/app";

.guidelines {
  @include container;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: radial-gradient(140.09% 104.07% at 1.15% 0%, #f3fce7 6.71%, #aff9e5 100%);

  .waterAnimation {
    position: absolute;
    z-index: 1;
    width: 420px;
    height: 420px;

    @include desktop {
      height: 700px;
      width: 700px;
    }

    &_top {
      top: 0;
      left: 100%;
      transform: translate(-60%, -40%);
    }

    &_bottom {
      top: auto;
      bottom: 0;
      left: 0;
      transform: translate(-40%, 40%);
    }
  }

  .inner {
    position: relative;
    z-index: 2;
    @include inner;
    @include centerColumn;
    height: 100%;

    .logo {
      width: 312px;
      height: 197px;

      @include desktop {
        width: 852px;
        height: 539px;
      }

      svg {
        width: 312px;
        height: 197px;

        @include desktop {
          width: 852px;
          height: 539px;
        }
      }
    }

    h2.title {
      margin-top: 24px;
      font-size: 24px;
      line-height: 120%;
      text-align: center;

      @include desktop {
        margin-top: 48px;
        font-size: 54px;
      }

      span {
        font-style: italic;
      }
    }

    .buttons {
      align-self: stretch;
      margin-top: 24px;
      display: flex;
      flex-direction: column;

      @include desktop {
        margin-top: 32px;
        flex-direction: row;
        justify-content: center;
      }

      a {
        @include centerRow;
        text-decoration: none;
        height: 48px;
        border-radius: 12px;

        @include desktop {
          width: 277px;
        }

        &:not(:first-child) {
          margin-top: 8px;

          @include desktop {
            margin-top: 0;
            margin-left: 8px;
          }
        }

        p {
          margin-left: 8px;
          font-size: 16px;
          line-height: 140%;
        }

        &:nth-child(1) {
          box-shadow: 0 16px 10px 0 rgba(28, 54, 36, 0.04), inset 0 1px 2px 0 rgba(248, 255, 251, 0.2);
          background: $color_dark-1000;

          p {
            color: $color_light;
          }
        }

        &:nth-child(2) {
          box-shadow: 0 8px 10px 0 rgba(28, 54, 36, 0.04), inset 0 4px 6px 0 rgba(248, 255, 251, 0.2);
          background: linear-gradient(180deg, #e4ffea 0%, #b3f9e5 100%);

          p {
            color: $color_dark-1000;
          }
        }
      }
    }

  }
}
