@import "../../../assets/styles/app";

.logoConstruction {
  @include container;
  position: relative;
  background: $color_dark-1000;
  padding-top: 32px;
  padding-bottom: 187px;
  overflow: hidden;

  @include desktop {
    padding-top: 64px;
    padding-bottom: 538px + 93px;
  }

  .inner {
    @include inner;

    .title {
      font-style: italic;
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      color: $color_light;

      @include desktop {
        font-size: 48px;
      }
    }

    .text {
      margin-top: 24px;
      font-size: 16px;
      line-height: 140%;
      color: $color_light-500;

      @include desktop {
        margin-top: 64px;
        font-size: 24px;
      }
    }

  }

  svg {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: 375px;
    height: 122px;

    @include desktop {
      bottom: 92px;
      width: 1344px;
      height: 1344px * (122 / 375);
    }

  }

}