@import "../../../assets/styles/app";

.disclaimerModal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 43, 38, 0.2);
  backdrop-filter: blur(5px);
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;

  .card {
    position: relative;
    border-radius: 16px;
    background: $color_light;
    padding: 16px;
    width: calc(100vw - 48px);
    max-width: 488px;
    display: flex;
    flex-direction: column;

    @include desktop {
      padding: 20px 16px 16px;
      width: 488px;
    }

    .closeBtn {
      position: absolute;
      top: 16px;
      right: 16px;
      @include button;
      @include centerRow;
      border-radius: 10px;
      width: 40px;
      height: 40px;
      box-shadow: 0 8px 10px 0 rgba(28, 54, 36, 0.04), inset 0 4px 6px 0 rgba(248, 255, 251, 0.2);
      background: linear-gradient(180deg, #e4ffea 0%, #b3f9e5 100%);
      border: 1px solid #AAEDD9;
    }

    .cardTitle {
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      padding-right: 64px;

      @include desktop {
        font-size: 24px;
      }
    }

    .description {
      margin-top: 16px;

      @include desktop {
        margin-top: 27px;
      }

      p {
        font-size: 14px;
        line-height: 140%;
        color: $color_dark-500;

        a {
          text-decoration: underline;
          text-decoration-skip-ink: none;
          color: $color_dark-1000;
          word-break: break-all;
        }
      }
    }

    .buttons {
      margin-top: 24px;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 8px;

      @include desktop {
        grid-template-rows: unset;
        grid-row-gap: unset;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 8px;
      }

      .button {
        @include button;
        display: block;

        .button_inner {
          width: 100%;
          padding: 13px 0;
        }
      }


    }
  }
}