@import "../../../../assets/styles/app";

.card {
  background: $color_light;
  border-radius: 24px;

  @include desktop {
    border-radius: 40px;
  }

  &:not(:first-child) {
    margin-top: 24px;

    @include desktop {
      margin-top: 0;
    }
  }

  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    @include desktop {
      padding: 20px;
    }

    .left {
      display: flex;
      align-items: center;

      .iconWrapper {
        @include centerRow;
        background: $color_dark-1000;
        border-radius: 50%;
        width: 21px;
        height: 21px;

        @include desktop {
          width: 36px;
          height: 36px;
        }

        svg {
          width: 12px;
          height: 12px;

          @include desktop {
            width: 21px;
            height: 21px;
          }

          path {
            fill: #AFF9E5;
          }
        }
      }

      p {
        margin-left: 8px;
        font-size: 9px;
        line-height: 140%;

        @include desktop {
          margin-left: 16px;
          font-size: 16px;
        }

      }
    }


    & > svg {
      width: 21px;
      height: 21px;

      @include desktop {
        width: 36px;
        height: 36px;
      }
    }

  }

  .body {
    position: relative;
    overflow: hidden;
    background: radial-gradient(140.09% 104.07% at 1.15% 0%, #f3fce7 6.71%, #aff9e5 100%);
    height: 312px;

    @include desktop {
      height: 532px;
    }
  }

  .cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    @include desktop {
      padding: 20px;
    }

    .left {
      display: flex;
      align-items: center;

      svg {
        width: 22px;
        height: 22px;

        @include desktop {
          width: 36px;
          height: 36px;
        }

        &:not(:first-child) {
          margin-left: 12px;

          @include desktop {
            margin-left: 22px;
          }
        }
      }
    }

    & > svg {
      width: 22px;
      height: 22px;

      @include desktop {
        width: 36px;
        height: 36px;
      }
    }

  }


}