@import "../../../assets/styles/app";

.validators {

  .form {

    input {
      background: none;
      border: none;
      outline: none;
      padding: 14px 16px;
      font-size: 14px;
      line-height: 140%;

      &::placeholder {
        color: $color_dark-500;
      }
    }

  }

  .items {
    margin-top: 16px;
    padding: 16px;

    @include desktop {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 32px;
    }

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:not(:first-child) {
        margin-top: 16px;

        @include desktop {
          margin-top: 0;
          position: relative;

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: -16px;
            bottom: 0;
            height: 100%;
            width: 1px;
            background: $color_line-80;
          }
        }
      }

      .left {
        display: flex;
        align-items: center;

        .icon {
          @include centerRow;
          border-radius: 999px;
          width: 40px;
          height: 40px;
          background: $color_dark-40;
        }

        & > p {
          margin-left: 8px;
          font-size: 14px;
          line-height: 140%;
          color: $color_dark-500;
        }
      }

      & > p {
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;

        @include desktop {
          font-size: 24px;
        }
      }
    }

  }

  .sortButtons {
    margin-left: 4px;
  }

  .table_mobile {
    margin: 16px -24px 0;
    border-radius: 0!important;
    @include onlyMobile(flex);

    .table_mobile_left {
      flex-shrink: 0;
      width: 172px;
      border-right: 1px solid $color_line-80;

      & > .header {
        display: flex;
        align-items: center;
        height: 52px;
        border-bottom: 1px solid $color_line-80;

        & > p {
          width: 53px;
          padding-left: 24px;
          font-size: 14px;
          line-height: 140%;
          color: $color_dark-500;
        }

        & > div {
          display: flex;
          align-items: center;

          p {
            font-size: 14px;
            line-height: 140%;
            color: $color_dark-500;
          }
        }
      }

      & > .body_row {
        height: 68px;
        display: flex;
        align-items: center;

        &:not(:first-child) {
          border-bottom: 1px solid $color_line-80;
        }

        p {
          font-size: 14px;
          line-height: 140%;
          color: $color_dark-500;

          &:nth-child(1) {
            width: 53px;
            padding-left: 24px;
          }
        }
      }
    }

    .table_mobile_right {
      flex-grow: 1;
      overflow: auto;

      .table_mobile_right_inner {
        width: 100%;
        min-width: 534px;

        & > .header {
          height: 52px;
          border-bottom: 1px solid $color_line-80;
          display: grid;
          grid-template-columns: 1fr 1fr 0.7fr 0.5fr;
          align-items: center;

          .header_cell {
            display: flex;
            align-items: center;

            &:nth-child(1) {
              padding-left: 16px;
            }

            &:nth-child(2) {
              justify-content: flex-end;
              padding-right: 32px;
            }

            p {
              font-size: 14px;
              line-height: 140%;
              color: $color_dark-500;
            }
          }
        }

        & > .body_row {
          height: 68px;
          display: grid;
          grid-template-columns: 1fr 1fr 0.7fr 0.5fr;
          align-items: center;

          &:not(:first-child) {
            border-bottom: 1px solid $color_line-80;
          }

          .body_row_cell {

            &:nth-child(1) {
              padding-left: 16px;

              p {
                font-size: 14px;
                line-height: 140%;

                &:nth-child(1) {
                  span {
                    color: $color_dark-500;
                  }
                }

                &:nth-child(2) {
                  margin-top: 4px;
                  color: $color_dark-500;
                }
              }
            }

            &:not(:first-child) {
              display: flex;
              align-items: center;

              p {
                color: $color_dark-500;
              }
            }

            &:nth-child(2) {
              justify-content: flex-end;
              padding-right: 32px;
            }

          }
        }
      }
    }

  }

  .table_desktop {
    margin-top: 16px;
    @include onlyDesktop();

    & > .header {
      padding: 0 16px;
      border-bottom: 1px solid $color_line-80;

      .header_inner {
        height: 52px;
        display: grid;
        grid-template-columns: 57px 1fr 1.3fr 1.3fr 1fr 0.7fr;

      }

      .header_cell {
        display: flex;
        align-items: center;

        p {
          font-size: 14px;
          line-height: 140%;
          color: $color_dark-500;
        }

      }

    }

    & > .body {
      padding: 0 16px;

      .body_inner {
        height: calc(100vh - 660px);
        overflow: auto;
        scrollbar-color: $color_dark-1000 $color_line-80;
        scrollbar-width: thin;

        & > .body_row {
          height: 68px;
          display: grid;
          grid-template-columns: 57px 1fr 1.3fr 1.3fr 1fr 0.7fr;
          align-items: center;

          &:not(:last-child) {
            border-bottom: 1px solid $color_line-80;
          }

          .body_row_cell {
            display: flex;
            align-items: center;

            p, span {
              font-size: 14px;
              line-height: 140%;
              color: $color_dark-500;
            }

            &:nth-child(3) {
              flex-direction: column;
              justify-content: center;
              align-items: unset;

              p:nth-child(1) {
                color: $color_dark-1000;
              }
            }
          }
        }

      }
    }



  }

  .seeMoreBtn {
    @include button;
    @include onlyMobile();
    margin-top: 24px;
    width: 100%;

    .button_inner {
      width: 100%;
      padding: 13px 0;
    }
  }


}

.block {
  & > .label {
    font-size: 14px;
    line-height: 140%;
    color: $color_dark-500;
  }

  & > .content {
    margin-top: 16px;

    .card {
      border-radius: 16px;
      background: $color_light;
    }
  }
}