@import "../../../../assets/styles/app";

.buttonsGroup {
  border: 1px solid $color_line-80;
  border-radius: 8px;
  display: grid;

  .btn {
    @include button;
    @include centerRow;
    position: relative;
    width: 48px;
    height: 28px;

    &:not(:first-child) {
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 4px;
        bottom: 4px;
        width: 1px;
        background-color: $color_line-80;
      }
    }


    p {
      font-size: 12px;
      line-height: 140%;
      color: $color_dark-500;
      transition: 0.3s;
    }

    &:hover {
      @include desktop {
        p {
          color: $color_dark-1000;
        }
      }
    }

    &_selected {
      p {
        color: inherit;
      }
    }


  }
}