@import "../../../assets/styles/app";

.headerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .header {
    @include container;
    position: relative;
    height: 72px;
    z-index: 999;

    .inner {
      @include inner;
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .logo {
        text-decoration: none;

        p {
          font-size: 24px;
          line-height: 140%;

          @include desktop {
            font-size: 32px;
          }

          span {
            font-style: italic;
          }
        }
      }
    }
  }
}