@import "../../../../assets/styles/app";

.sortButtons {
  width: 16px;
  height: 16px;

  button {
    @include button;
    @include centerRow;
    width: 16px;
    height: 8px;

    svg {
      path {
        transition: 0.3s;
      }
    }

    &:hover {
      svg {
        path {
          @include desktop {
            fill-opacity: 1;
          }
        }
      }
    }
  }
}