@import "../assets/styles/app";

.homePage {
  @include container;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 24px;
  display: flex;

  @include desktop {
    padding-bottom: 40px;
  }

  .waterAnimation {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: Min(calc(100vw - 48px), 500px);
    height: Min(calc(100vw - 48px), 500px);
    opacity: 0.5;

    @include desktop {
      width: 640px;
      height: 640px;
    }
  }

  .inner {
    @include inner;
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 96px);

    @include desktop {
      min-height: calc(100vh - 72px);
    }

    .topWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h1.title {
        margin-top: 0;

        span {
          display: inline-block;
          font-size: 48px;
          line-height: 120%;

          @include desktop {
            font-size: 96px;
          }

          &:last-child {
            margin-left: 12px;

            @include desktop {
              margin-left: 24px;
            }
          }
        }

        .italic {
          font-style: italic;
        }
      }

      .quote {
        margin-top: 32px;
        font-size: 18px;
        line-height: 160%;
        color: $color_dark-500;
        font-style: italic;

        @include desktop {
          margin-top: 40px;
          font-size: 28px;
          max-width: 700px;
        }
      }
    }


  }
}