@import "../../../assets/styles/app";

.typography {
  @include container;
  background: $color_dark-1000;
  padding-top: 32px;
  padding-bottom: 32px;

  @include desktop {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .inner {
    @include inner;

    .title {
      font-style: italic;
      font-size: 24px;
      line-height: 120%;
      color: $color_light;

      @include desktop {
        font-size: 48px;
      }
    }

    .blocks {
      margin-top: 32px;

      @include desktop {
        margin-top: 100px;
      }

      .block {

        &:nth-child(1) {
          position: relative;
          padding-bottom: 24px;

          @include desktop {
            padding-bottom: 48px;
          }


          &::after {
            content: "";
            display: block;
            position: absolute;
            left: -24px;
            right: -24px;
            bottom: 0;
            height: 1px;
            background: $color_light-80;

            @include desktop {
              left: calc(-0.5 * (100vw - 1344px));
              right: calc(-0.5 * (100vw - 1344px));
            }
          }
        }

        &:nth-child(2) {
          padding-top: 24px;
          padding-bottom: 32px;

          @include desktop {
            padding-top: 48px;
            padding-bottom: 64px;

            //.letter {
            //  font-style: italic;
            //}
            //
            //.info {
            //  .label {
            //    font-style: italic;
            //  }
            //
            //  .text {
            //   p {
            //     font-style: italic;
            //   }
            //  }
            //}
          }
        }

        @include desktop {
          display: flex;
          justify-content: space-between;
        }

        .letter {
          font-size: 124px;
          line-height: 120%;
          color: $color_light;

          @include desktop {
            font-size: 260px;
          }
        }

        .info {
          margin-top: 32px;

          @include desktop {
            margin-top: 136px;
            width: 660px;
            display: flex;
            flex-direction: column;
          }

          .label {
            font-size: 16px;
            line-height: 140%;
            color: $color_light;

            @include desktop {
              font-size: 24px;
            }
          }

          .text {
            margin-top: 24px;

            p {
              font-size: 16px;
              line-height: 140%;
              color: $color_light-500;

              @include desktop {
                font-size: 24px;
              }

              &:not(:first-child) {
                margin-top: 16px;
              }

              &:nth-child(2) {
                letter-spacing: 0.34em;
              }
            }

          }

          a {
            @include centerRow;
            text-decoration: none;
            height: 48px;
            border-radius: 12px;
            box-shadow: 0 8px 10px 0 rgba(28, 54, 36, 0.04), inset 0 4px 6px 0 rgba(248, 255, 251, 0.2);
            background: linear-gradient(180deg, #e4ffea 0%, #b3f9e5 100%);
            margin-top: 24px;

            @include desktop {
              margin-top: 32px;
              padding: 13px 24px;
              align-self: flex-start;
            }

            p {
              margin-left: 8px;
              font-size: 16px;
              line-height: 140%;
            }
          }

        }
      }
    }


  }

}