@import "../../../assets/styles/app";

.app {
  min-height: 100vh;
  background: radial-gradient(140.09% 104.07% at 1.15% 0%, #f3fce7 6.71%, #aff9e5 100%);
  display: flex;
  position: relative;
  //width: 100%;

  main {
    width: 100vw;
    display: flex;
    //flex-direction: column;
  }
}