@import "../../../assets/styles/app";

.version {
  @include container;
  background: radial-gradient(140.09% 104.07% at 1.15% 0%, #f3fce7 6.71%, #aff9e5 100%);
  padding-top: 32px;
  padding-bottom: 32px;

  @include desktop {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .inner {
    @include inner;

    .title {
      font-style: italic;
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;

      @include desktop {
        font-size: 48px;
      }

    }

    .texts {
      margin-top: 24px;

      @include desktop {
        margin-top: 64px;
      }

      p {
        font-size: 16px;
        line-height: 140%;
        color: $color_dark-500;

        @include desktop {
          font-size: 24px;
        }

        &:not(:first-child) {
          margin-top: 1.5 * 16px;

          @include desktop {
            margin-top: 1.5 * 24px;
          }
        }
      }
    }

    .logos {
      margin-top: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include desktop {
        margin-top: 168px;
        align-items: unset;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 60px;
      }

      .logoWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
          align-items: center;
          justify-content: flex-end;
        }

        &:not(:first-child) {
          margin-top: 48px;

          @include desktop {
            margin-top: 0;
          }
        }

        svg {
          path {
            fill: #012B26;
          }
        }

        p {
          margin-top: 24px;
          font-size: 16px;
          line-height: 140%;
          color: $color_dark-500;

          @include desktop {
            font-size: 24px;
          }
        }

        &:nth-child(1) {
          svg {
            width: 104px;
            height: 109px;

            @include desktop {
              width: 176px;
              height: 184px;
            }
          }

          p {
            @include desktop {
              margin-top: 84px;
            }
          }
        }

        &:nth-child(2) {
          svg {
            width: 203px;
            height: 129px;

            @include desktop {
              width: 406px;
              height: 257px;
            }
          }
        }

        &:nth-child(3) {
          svg {
            width: 312px;
            height: 71px;

            @include desktop {
              //width: 533px;
              //height: 122px;

              width: 408px;
              height: 408px * (122 / 533);
            }
          }
        }



      }


    }
  }


  &_light {
    background: $color_dark-1000;

    .inner {

      .title {
        color: $color_light;
      }

      .texts {
        p {
          color: $color_light-500;
        }
      }

      .logos {

        .logoWrapper {

          p {
            color: $color_light-500;
          }

          svg {
            path {
              fill: #F0FFF5;
            }
          }

        }

      }


    }
  }
}