@import "../../assets/styles/app";

.pointsComponent {
  @include container;
  position: relative;
  width: 100%;
  padding-top: 24px + 72px;
  padding-bottom: 24px;

  @include desktop {
    height: 100vh;
  }

  .inner {
    @include inner;

    h2.title {
      @include h2;
    }

    .content {
      margin-top: 16px;

      @include desktop {
        margin-top: 24px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 16px;
      }

      .left {

      }
    }


  }

}