$color_light: #f0fff5;
$color_light-500: rgba(240, 255, 245, 0.5);
$color_light-80: rgba(240, 255, 245, 0.08);
$color_dark-1000: #012b26;
$color_dark-500: rgba(1, 43, 38, 0.5);
$color_line-80: rgba(1, 43, 38, 0.08);
$color_dark-40: rgba(1, 43, 38, 0.04);