@import "../../../assets/styles/app";

.leaderboard {
  margin-top: 24px;

  @include desktop {
    margin-top: 0;
  }

  .title {
    font-size: 14px;
    line-height: 140%;
    color: $color_dark-500;
  }

  .card {
    background: $color_light;

    &_mobile {
      @include onlyMobile();
      margin: 16px -24px 0;
      display: flex;

      .mobile_left {
        flex-shrink: 0;
        width: 172px;
        border-right: 1px solid $color_line-80;

        .row {
          display: flex;
          align-items: center;

          &:not(:last-child) {
            border-bottom: 1px solid $color_line-80;
          }
        }

        .header_row {
          height: 52px;

          p {
            font-size: 14px;
            line-height: 140%;
            color: $color_dark-500;

            &:nth-child(1) {
              width: 53px;
              padding-left: 24px;
            }

          }
        }

        .body_row {
          height: 68px;

          & > p {
            font-size: 14px;
            line-height: 140%;
            color: $color_dark-500;
            width: 53px;
            padding-left: 24px;
          }

          & > div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            & > p {
              font-size: 14px;
              line-height: 140%;

              &:nth-child(2) {
                margin-top: 4px;
                color: $color_dark-500;
              }
            }
          }
        }

      }

      .mobile_right {
        flex-grow: 1;
        overflow: auto;

        .mobile_right_inner {
          width: 100%;
          min-width: 650px;
          height: 100%;

          .row {
            padding-left: 16px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 0.7fr 0.7fr;
            align-items: center;

            &:not(:last-child) {
              border-bottom: 1px solid $color_line-80;
            }
          }

          .header_row {
            height: 52px;

            .header_cell {
              display: flex;
              align-items: center;

              & > p {
                font-size: 14px;
                line-height: 140%;
                color: $color_dark-500;
              }

              .sortButtons {
                margin-left: 4px;
              }
            }
          }

          .body_row {
            height: 68px;

            p {
              font-size: 14px;
              line-height: 140%;
              color: $color_dark-500;

              &:last-child {
                color: $color_dark-1000;
              }
            }
          }
        }
      }

    }

    &_desktop {
      @include onlyDesktop();
      margin: 16px 0 0;
      border-radius: 16px;

      .row {
        display: grid;
        align-items: center;
        grid-template-columns: 60px 1fr 1fr 1fr 1fr 0.7fr 0.7fr;
      }

      & > .header {
        border-bottom: 1px solid $color_line-80;
        padding: 0 16px;

        .header_row {
          height: 52px;

          & > div {
            display: flex;
            align-items: center;

            p {
              font-size: 14px;
              line-height: 140%;
              color: $color_dark-500;
            }

            .sortButtons {
              margin-left: 4px;
            }
          }
        }
      }

      & > .body {
        padding: 0 16px;

        .body_inner {
          max-height: calc(100vh - 265px);
          overflow: auto;
          scrollbar-color: $color_dark-1000 $color_line-80;
          scrollbar-width: thin;

          .body_row {
            height: 68px;

            &:not(:last-child) {
              border-bottom: 1px solid $color_line-80;
            }

            & > div {

              p {
                font-size: 14px;
                line-height: 140%;
                color: $color_dark-500;
              }

              &:nth-child(2) {
                display: flex;
                flex-direction: column;
                justify-content: center;

                p {
                  font-size: 14px;
                  line-height: 140%;
                  color: $color_dark-1000;

                  &:nth-child(2) {
                    margin-top: 4px;
                    color: $color_dark-500;
                  }
                }
              }

              &:last-child {
                p {
                  color: $color_dark-1000;
                }
              }
            }
          }
        }
      }
    }
  }

  .seeMoreBtn {
    @include button;
    @include onlyMobile();
    margin-top: 24px;
    width: 100%;

    .button_inner {
      width: 100%;
      padding: 13px 0;
    }
  }

}